<meta charset="UTF-8"/>
<title>Checklist - Manual Testing</title>

<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/angular-growl.css"/>
<link rel="stylesheet" href="/css/isteven-multi-select.css">
<link rel="stylesheet" href="/css/style.css"/>

<script src="/js/vendor/moment.min.js"></script>
<script src="/js/vendor/underscore.js"></script>
<script src="/js/vendor/angular.min.js"></script>
<script src="/js/vendor/jquery-1.10.2.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/socket.min.js"></script>
<script src="/js/vendor/angular-growl.js"></script>
<script src="/js/vendor/isteven-multi-select.js"></script>
<script src="/js/angular/app.js"></script>
<script src="/js/angular/app.config.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/angular/controllers/navController.js"></script>
